{% extends "base.html" %}
{% load static %}
{% block main_content %}


<div class="container">
<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"> 1 Card title that wraps to a new line</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p> 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div>

        {% for piece in news %}
        <div class="card">
        <img class="card-img-top"  src={{ piece.top_image.url }} alt="Card image cap">
          <div class="card-body ">
            <h4 class="card-title">{{piece.title}}</h4>
            <p class="card-text">{{piece.content}}</p>
            <p class="card-text text-right"><small class="text-muted"> {{piece.timestamp}} </small></p>
          </div>
        </div>

        {% endfor %}

        <div class="card p-3 text-right">
  <blockquote class="blockquote mb-0">
    <p> 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    <footer class="blockquote-footer">
      <small class="text-muted">
        Someone famous in <cite title="Source Title">Source Title</cite>
      </small>
    </footer>
  </blockquote>
</div>

</div>
</div>

{% endblock %}
