{% extends "base.html" %}
{% load static %}
{% block main_content %}


<div class='card-columns'>
    <div class="card text-white">
    <img class="card-img"  src={% static "img-7.jpg" %} alt="Card image cap">
      <div class="card-img-overlay " style="background-color:rgba(0, 0, 0, 0.66)">
        <h4 class="card-title">Конкурс на лучший проект 2018</h4>
        <h6 class="card-subtitle mb-2 text-muted">Открывается приём заявок на новый конкурс! Дедлайн - 28 февраля 2018</h6>
        <p class="card-text">Пройдите по ссылке, чтобы узнать правила конкурса. Прислать свою заявку можно, воспользовавшись формой</p>
        <p class="card-text text-right"><small class="text-muted"> 28.11.2017 </small></p>
      </div>
    </div>
    <div class="card">
    <img class="card-img-top"  src={% static "ikom2.jpg" %} alt="Card image cap">
      <div class="card-body ">
        <h4 class="card-title">Экспедиция в Кросс-Ривер, Нигерия</h4>
        <h6 class="card-subtitle mb-2 text-muted">Реузльтат конкурса 2017 г.</h6>
        <p class="card-text">В мае 2017 г. жюри конкурса пришло к решению поддержать проект Гали Сим "Полевое исследование идиомов ндое". Ознакомитсья с проектом можно здесь <a href={% static "docs/GSim.pdf" %}>  <i class="fa fa-file-text-o" aria-hidden="true"></i></a>.
    </p><p>Экспедиция запланирована на январь-ферваль 2018 г. Отчет об экспедиции будет опубликован на сайте: следите за обновлениями!</p>
        <p class="card-text text-right"><small class="text-muted"> 22.11.2017 </small></p>
      </div>
    </div>
    <div class="card text-white">
    <img class="card-img"  src={% static "img-7.jpg" %} alt="Card image cap">
      <div class="card-img-overlay " style="background-color:rgba(0, 0, 0, 0.66)">
        <h4 class="card-title">Конкурс на лучший проект 2018</h4>
        <h6 class="card-subtitle mb-2 text-muted">Открывается приём заявок на новый конкурс! Дедлайн - 28 февраля 2018</h6>
        <p class="card-text">Пройдите по ссылке, чтобы узнать правила конкурса. Прислать свою заявку можно, воспользовавшись формой</p>
        <p class="card-text text-right"><small class="text-muted"> 28.11.2017 </small></p>
      </div>
    </div>
</div>

{% endblock %}
